UCSTest/UCSTest/SqlMethods.cs
UCS/UCSTest Task/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UCS/UCSTest Task/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UCS/UCSTest Task/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UCS/UCSTest Task/obj/Debug/build.force
UCS/UCSTest Task/obj/Debug/UCSTestTask.csproj.FileListAbsolute.txt
UCS/UCSTest Task/obj/Debug/UCSTestTask.csproj.CopyComplete
UCS/UCSTest Task/obj/Debug/UCSTest.csproj.FileListAbsolute.txt
UCS/UCSTest Task/obj/Debug/UCSTest.csproj.CopyComplete
UCS/UCSTest Task/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UCS/UCSTest Task/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UCS/UCSTest Task/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UCS/UCSTest Task/bin/x86/Debug/UCSTest.vshost.exe.manifest
UCS/UCSTest Task/bin/x86/Debug/UCSTest.vshost.exe.config
UCS/UCSTest Task/bin/x86/Debug/UCSTest.exe.config
UCS/UCSTest Task/obj/x86/Debug/UCSTest.csproj.FileListAbsolute.txt
UCS/UCSTest Task/bin/Debug/UCSTest.vshost.exe.config
UCS/UCSTest Task/bin/Debug/UCSTest.exe.config
UCS/UCSTest Task/bin/Debug/NLog.xsd
UCS/UCSTest Task/bin/Debug/NLog.xml
UCS/UCSTest Task/bin/Debug/NLog.config
UCS/UCSTest Task/bin/Debug/Errorlog 2018-05-18.txt
UCS/UCSTest Task/bin/Debug/Errorlog 2018-05-16.txt
UCS/UCSTest Task/bin/Debug/Errorlog 2018-05-15.txt
UCS/UCSTest Task/bin/Debug/EntityFramework.xml
UCS/UCSTest Task/bin/Debug/EntityFramework.SqlServer.xml
UCS/UCSTest Task/bin/Debug/App.config
UCS/UcsAdm/obj/x86/Debug/UCSTest.csproj.FileListAbsolute.txt
UCS/UcsAdm/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UCS/UcsAdm/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UCS/UcsAdm/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UCS/UcsAdm/obj/Debug/UcsAdm.csproj.FileListAbsolute.txt
UCS/UcsAdm/obj/Debug/UcsAdm.csproj.CopyComplete
UCS/UcsAdm/obj/Debug/UCSTestTask.csproj.FileListAbsolute.txt
UCS/UcsAdm/obj/Debug/UCSTestTask.csproj.CopyComplete
UCS/UcsAdm/obj/Debug/UCSTest.csproj.FileListAbsolute.txt
UCS/UcsAdm/obj/Debug/UCSTest.csproj.CopyComplete
UCS/UcsAdm/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UCS/UcsAdm/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UCS/UcsAdm/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UCS/UcsAdm/bin/x86/Debug/UCSTest.vshost.exe.manifest
UCS/UcsAdm/bin/x86/Debug/UCSTest.vshost.exe.config
UCS/UcsAdm/bin/x86/Debug/UCSTest.exe.config
UCS/UcsAdm/bin/Debug/UcsAdm.exe.config
UCS/UcsAdm/bin/Debug/UCSTest.vshost.exe.config
UCS/UcsAdm/bin/Debug/UCSTest.exe.config
UCS/UcsAdm/bin/Debug/NLog.xsd
UCS/UcsAdm/bin/Debug/NLog.xml
UCS/UcsAdm/bin/Debug/NLog.config
UCS/UcsAdm/bin/Debug/Errorlog 2018-05-18.txt
UCS/UcsAdm/bin/Debug/Errorlog 2018-05-16.txt
UCS/UcsAdm/bin/Debug/Errorlog 2018-05-15.txt
UCS/UcsAdm/bin/Debug/EntityFramework.xml
UCS/UcsAdm/bin/Debug/EntityFramework.SqlServer.xml
UCS/UcsAdm/bin/Debug/App.config
