UCSTest/UCSTest/SqlMethods.cs
UCS/UCSTest Task/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UCS/UCSTest Task/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UCS/UCSTest Task/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UCS/UCSTest Task/obj/Debug/build.force
UCS/UCSTest Task/obj/Debug/UCSTestTask.csproj.FileListAbsolute.txt
UCS/UCSTest Task/obj/Debug/UCSTestTask.csproj.CopyComplete
UCS/UCSTest Task/obj/Debug/UCSTest.csproj.FileListAbsolute.txt
UCS/UCSTest Task/obj/Debug/UCSTest.csproj.CopyComplete
UCS/UCSTest Task/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UCS/UCSTest Task/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UCS/UCSTest Task/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UCS/UCSTest Task/bin/x86/Debug/UCSTest.vshost.exe.manifest
UCS/UCSTest Task/bin/x86/Debug/UCSTest.vshost.exe.config
UCS/UCSTest Task/bin/x86/Debug/UCSTest.exe.config
UCS/UCSTest Task/obj/x86/Debug/UCSTest.csproj.FileListAbsolute.txt
UCS/UCSTest Task/bin/Debug/UCSTest.vshost.exe.config
UCS/UCSTest Task/bin/Debug/UCSTest.exe.config
UCS/UCSTest Task/bin/Debug/NLog.xsd
UCS/UCSTest Task/bin/Debug/NLog.xml
UCS/UCSTest Task/bin/Debug/NLog.config
UCS/UCSTest Task/bin/Debug/Errorlog 2018-05-18.txt
UCS/UCSTest Task/bin/Debug/Errorlog 2018-05-16.txt
UCS/UCSTest Task/bin/Debug/Errorlog 2018-05-15.txt
UCS/UCSTest Task/bin/Debug/EntityFramework.xml
UCS/UCSTest Task/bin/Debug/EntityFramework.SqlServer.xml
UCS/UCSTest Task/bin/Debug/App.config
UCS/UcsAdm/obj/x86/Debug/UCSTest.csproj.FileListAbsolute.txt
UCS/UcsAdm/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UCS/UcsAdm/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UCS/UcsAdm/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UCS/UcsVismaTid/obj/Debug/build.force
UCS/packages/NLog.4.5.5/lib/sl5/NLog.xml
UCS/packages/NLog.4.5.5/lib/sl4/NLog.xml
UCS/packages/NLog.4.5.5/lib/netstandard2.0/NLog.xml
UCS/packages/NLog.4.5.5/lib/netstandard1.5/NLog.xml
UCS/packages/NLog.4.5.5/lib/netstandard1.3/NLog.xml
UCS/packages/NLog.4.5.5/lib/net45/NLog.xml
UCS/packages/NLog.4.5.5/lib/net40-client/NLog.xml
UCS/packages/NLog.4.5.5/NLog.4.5.5.nupkg
UCS/UcsAdm/bin/Debug/Errorlog 2018-05-28.txt
UCS/KommentarsfältUppdaterare/packages.config
UCS/KommentarsfältUppdaterare/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UCS/KommentarsfältUppdaterare/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UCS/KommentarsfältUppdaterare/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UCS/KommentarsfältUppdaterare/errorlogger.cs
UCS/KommentarsfältUppdaterare/Properties/AssemblyInfo.cs
UCS/KommentarsfältUppdaterare/Program.cs
UCS/KommentarsfältUppdaterare/NLog.xsd
UCS/KommentarsfältUppdaterare/NLog.config
UCS/KommentarsfältUppdaterare/KommentarsfältUppdaterare.csproj
UCS/KommentarsfältUppdaterare/DataManipulator.cs
UCS/KommentarsfältUppdaterare/Avtal.cs
UCS/KommentarsfältUppdaterare/App.config
UCS/packages/NLog.4.5.5/lib/monoandroid44/NLog.xml
UCS/packages/NLog.4.5.5/lib/xamarinios10/NLog.xml
UCS/packages/NLog.4.5.5/lib/net35/NLog.xml
UCS/packages/NLog.4.5.5/lib/wp8/NLog.xml
UCS/UcsAdm.zip
UCS/.vs/UCSTest/v15/Server/sqlite3/storage.ide-wal
UCS/.vs/UCSTest/v15/Server/sqlite3/storage.ide-shm
UCS/.vs/UCSTest/v15/Server/sqlite3/storage.ide
