USE [master]
GO
/****** Object:  Database [C:\USERS\SVEN_\ONEDRIVE\DOKUMENT\SOURCETREE\UCS\UCSTEST\UCSTEST\FAKTURADB.MDF]    Script Date: 2018-04-10 10:37:49 ******/
CREATE DATABASE [C:\USERS\SVEN_\ONEDRIVE\DOKUMENT\SOURCETREE\UCS\UCSTEST\UCSTEST\FAKTURADB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fakturaDB', FILENAME = N'C:\Users\sven_\OneDrive\Dokument\Sourcetree\UCS\UCSTest\UCSTest\fakturaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'fakturaDB_log', FILENAME = N'C:\Users\sven_\OneDrive\Dokument\Sourcetree\UCS\UCSTest\UCSTest\fakturaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\SVEN_\ONEDRIVE\DOKUMENT\SOURCETREE\UCS\UCSTEST\UCSTEST\FAKTURADB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\SVEN_\ONEDRIVE\DOKUMENT\SOURCETREE\UCS\UCSTEST\UCSTEST\FAKTURADB.MDF]
GO
USE [C:\USERS\SVEN_\ONEDRIVE\DOKUMENT\SOURCETREE\UCS\UCSTEST\UCSTEST\FAKTURADB.MDF]
GO
/****** Object:  Table [dbo].[Kunder]    Script Date: 2018-04-10 10:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kunder](
	[kundNummer] [int] NOT NULL,
	[kundNamn] [varchar](50) NOT NULL,
	[kundStad] [varchar](50) NOT NULL,
	[kundLand] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[kundNummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KundFakHuvud_KundFakRad]    Script Date: 2018-04-10 10:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KundFakHuvud_KundFakRad](
	[fakHuvud_ID] [int] NOT NULL,
	[fakRad] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KundFakturaHuvud]    Script Date: 2018-04-10 10:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KundFakturaHuvud](
	[fakturaNummer] [int] NOT NULL,
	[fakturaTyp] [varchar](50) NOT NULL,
	[kundNummer] [int] NOT NULL,
	[säljare] [varchar](50) NOT NULL,
	[fakturaDatum] [varchar](50) NOT NULL,
	[totalKostnad] [varchar](50) NOT NULL,
	[förfalloDatum] [varchar](50) NOT NULL,
	[slutDatum] [varchar](50) NOT NULL,
	[valutaKod] [varchar](5) NOT NULL,
	[valutaKurs] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[fakturaNummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KundFakturaRad]    Script Date: 2018-04-10 10:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KundFakturaRad](
	[radID] [int] IDENTITY(1,1) NOT NULL,
	[artikelNummer] [int] NOT NULL,
	[benämning] [varchar](50) NOT NULL,
	[levAntal] [varchar](50) NOT NULL,
	[enhetsTyp] [varchar](50) NOT NULL,
	[styckPris] [varchar](50) NOT NULL,
	[totalKostnad] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[radID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leverantörer]    Script Date: 2018-04-10 10:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leverantörer](
	[levNamn] [varchar](50) NOT NULL,
	[levNummer] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[levNummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LevFakHuvud_LevFakRad]    Script Date: 2018-04-10 10:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LevFakHuvud_LevFakRad](
	[levFakHuvud_ID] [varchar](50) NOT NULL,
	[levFakRad_ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LevFakturaHuvud]    Script Date: 2018-04-10 10:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LevFakturaHuvud](
	[löpNummer] [int] NOT NULL,
	[levNummer_ID] [varchar](50) NOT NULL,
	[fakturaNummer] [varchar](50) NOT NULL,
	[fakturaDatum] [date] NOT NULL,
	[valutaKod] [varchar](4) NOT NULL,
	[fakturaTyp] [varchar](2) NOT NULL,
	[totalKostnad] [decimal](18, 2) NOT NULL,
	[valutaKurs] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[löpNummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LevFakturaRad]    Script Date: 2018-04-10 10:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LevFakturaRad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[kvantitet] [decimal](18, 2) NOT NULL,
	[information] [varchar](50) NOT NULL,
	[prisPerEnhet] [decimal](18, 2) NOT NULL,
	[totalKostnad] [decimal](18, 2) NOT NULL,
	[artikelNummer] [varchar](50) NOT NULL,
	[levArtikelNummer] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KundFakturaHuvud]  WITH CHECK ADD  CONSTRAINT [FK_KundNummer] FOREIGN KEY([kundNummer])
REFERENCES [dbo].[Kunder] ([kundNummer])
GO
ALTER TABLE [dbo].[KundFakturaHuvud] CHECK CONSTRAINT [FK_KundNummer]
GO
ALTER TABLE [dbo].[LevFakturaHuvud]  WITH CHECK ADD  CONSTRAINT [FK_LevNummer] FOREIGN KEY([levNummer_ID])
REFERENCES [dbo].[Leverantörer] ([levNummer])
GO
ALTER TABLE [dbo].[LevFakturaHuvud] CHECK CONSTRAINT [FK_LevNummer]
GO
/****** Object:  StoredProcedure [dbo].[sp_add_customerInvoice]    Script Date: 2018-04-10 10:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_add_customerInvoice]
	@fakturaNummer int,
	@fakturaTyp varchar(50),
	@kundNummer int,
	@säljare varchar(50),
	@kundNamn varchar(50),
	@kundStad varchar(50),
	@kundLand varchar(50),
	@fakturaDatum varchar(50),
	@totalKostnad varchar(50),
	@förfalloDatum varchar(50),
	@slutDatum varchar(50),
	@valutaKod varchar(5),
	@valutaKurs decimal(18,2)
AS
	if @kundNummer = (SELECT kundNummer FROM Kunder WHERE kundNummer = @kundNummer)
	RETURN 0;

	INSERT INTO Kunder (kundNummer, kundNamn, kundStad, kundLand)
	VALUES
	(@kundNummer, @kundNamn, @kundStad, @kundLand)

	if @fakturaNummer = (SELECT fakturaNummer FROM KundFakturaHuvud WHERE fakturaNummer = @fakturaNummer)
	RETURN 0;

	INSERT INTO KundFakturaHuvud (fakturaNummer, fakturaTyp, kundNummer, säljare, fakturaDatum, totalKostnad, förfalloDatum, slutDatum, valutaKod, valutaKurs)
	VALUES
	(@fakturaNummer, @fakturaTyp, @kundNummer, @säljare, @fakturaDatum, @totalKostnad, @förfalloDatum, @slutDatum, @valutaKod, @valutakurs)
GO
/****** Object:  StoredProcedure [dbo].[sp_add_customerInvoiceRow]    Script Date: 2018-04-10 10:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_add_customerInvoiceRow]
	@fakturaNummer int,
	@artikelNummer int,
	@benämning varchar(50),
	@levAntal varchar(50),
	@enhetsTyp varchar(50),
	@styckPris varchar(50),
	@totalKostnad varchar(50)
AS
	INSERT INTO KundFakturaRad (artikelNummer, benämning, levAntal, enhetsTyp, styckPris, totalKostnad)
	VALUES
	(@artikelNummer, @benämning, @levAntal, @enhetsTyp, @styckPris, @totalKostnad)

	INSERT INTO KundFakHuvud_KundFakRad (fakHuvud_ID)
	VALUES
	(@fakturaNummer)
GO
/****** Object:  StoredProcedure [dbo].[sp_add_levInvoice]    Script Date: 2018-04-10 10:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_add_levInvoice]
	@lopNummer int,
	@levNummer VARCHAR(50),
	@levNamn varchar(50),
	@fakturaNummer varchar(50),
	@fakturaDatum varchar(50),
	@valutaKod varchar(50),
	@fakturaTyp varchar(50),
	@totalKostnad varchar(50),
	@valutaKurs decimal(18,2)
AS
	if NOT EXISTS (SELECT levNummer FROM Leverantörer WHERE levNummer = @levNummer)
	/*RETURN 0;*/
	INSERT INTO Leverantörer (levNummer, levNamn)
	VALUES
	(@levNummer, @levNamn)


	if @fakturaNummer = (SELECT fakturaNummer FROM LevFakturaHuvud WHERE fakturaNummer = @fakturaNummer)
	RETURN 0;

	INSERT INTO LevFakturaHuvud (löpNummer, levNummer_ID, fakturaNummer, fakturaDatum, valutaKod, fakturaTyp, totalKostnad, valutaKurs)
	VALUES
	(@lopNummer, @levNummer, @fakturaNummer, @fakturaDatum, @valutaKod, @fakturaTyp, @totalKostnad, @valutaKurs)
GO
/****** Object:  StoredProcedure [dbo].[sp_add_levInvoiceRow]    Script Date: 2018-04-10 10:37:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_add_levInvoiceRow]
	@fakturaNummer varchar (50),
	@kvantitet decimal(18,2),
	@information varchar(50),
	@prisPerEnhet decimal(18,2),
	@totalKostnad decimal(18,2),
	@artikelNummer varchar(50),
	@levArtikelNummer varchar(50)
AS
	INSERT INTO LevFakturaRad (kvantitet, information, prisPerEnhet, totalKostnad, artikelNummer, levArtikelNummer)
	VALUES
	(@kvantitet, @information, @prisPerEnhet, @totalKostnad, @artikelNummer, @levArtikelNummer)

	INSERT INTO LevFakHuvud_LevFakRad (levFakHuvud_ID)
	VALUES
	(@fakturaNummer)
GO
USE [master]
GO
