<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="UCSTest.Properties.Settings.SPCS_Tid_OvnBol2ConnectionString" connectionString="Data Source=LAPTOP-B65T75P1\VISMA;Initial Catalog=SPCS_Tid_OvnBol2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SPCS_Tid_OvnBol1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-B65T75P1\VISMA;initial catalog=SPCS_Tid_OvnBol1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>
  <appSettings>
    <add key="vismaTidPath" value="Data Source=LAPTOP-B65T75P1\VISMA;Initial Catalog=SPC" />
    <add key="dbPath" value="Data Source=SIMONJO-6570B\UCSTEST;Initial Catalog=UCSTest;Persist Security Info=True;User ID=sa;Password=Ucstest2018" />
    <!-- <add key="dbPath" value="Data Source=UCS-SQL-2016;Initial Catalog=PowerBI;Persist Security Info=True;User ID=svc_PowerBI;Password=Ne3cNBQNZxFlI9f"/> -->
    <add key="datum" value="2014-01-01" />
    <!-- Datum skrivs enligt följande format: YYYY-MM-DD -->
  </appSettings>
</configuration>