<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>
  <appSettings>
    <add key="vismaTidPath" value="Data Source=ucsadm03\visma;Initial Catalog=SPCS_Tid_Ftg1;Integrated Security=True" />
    <!--<add key="dbPath" value="Data Source=SIMONJO-6570B\UCSTEST;Initial Catalog=UCSTest;Persist Security Info=True;User ID=sa;Password=Ucstest2018" />-->
    <add key="dbPath" value="Data Source=UCS-SQL-2016;Initial Catalog=PowerBI;Persist Security Info=True;User ID=svc_PowerBI;Password=Ne3cNBQNZxFlI9f"/>
    <add key="datum" value="2014-01-01" />
    <!-- Datum skrivs enligt följande format: YYYY-MM-DD -->
  </appSettings>
</configuration>